
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    font-family:Montserrat, sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2rem;
    height:100vh;
    background-color:$clr-gray100;
    color:$clr-gray500;
}

h1{
    font-size:6rem;
}

.button{
    display:flex;
    gap:1rem;

& > *{
      border:none;
      background-color:white;
      box-shadow:0px 0px 10px $clr-gray200;
      font-weight:bold;
      font-size:2rem;
      color:inherit;
      border-radius:50%;
      height:4rem;
      width:4rem;
      cursor:pointer;
      transition:
              background-color 250ms ease-in-out,
              transform 50ms ease-in-out;
  }

&:hover{
     background-color:$clr-gray200;
 }

&:active{
     transform:scale(0.9);
 }
}
}
